@import 'utilities/variables',
        'components/nav',
        'base/base',
        'layout/headers',
        'layout/sections',
        'layout/footer'
        ;









    
    .slideRight {
      animation-name: slideUp;
      -webkit-animation-name: slideUp;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
    }
    
    
    
    
    
    
    .active{
        border: solid 1px white;
    }
    
    .center{
        margin: 0 auto;
        display: block;
    }
    
    
    
    button{
        padding: 10px;
        width: 12em;
        font-size: 13px;
        background: #ffffffcc;
    }
    
    
    
    
    
    
    .col-no-pad{
        padding:0;
    }
    
    .big_pic{
        height: 80vh;
        width: 100%;
        padding:5px;
    }
    .small_pic{
        height: 40vh;
        width: 100%;
        padding:5px;
    }
    @media only screen and (max-width:457px){
        .small_pic, .big_pic{
            height: 40vh;
        }
    }
    @media only screen and (max-width:767px) and (min-width:458px){
        .small_pic, .big_pic{
            height: 80vh;
        }
    }
    
    
    .btn-col{
        justify-content: center;
        display: flex;
        flex-flow: column;
    }
    
    
    
    
    
    
    
    
   
    
    .center{
        margin: 0 auto;
    }
    
    .menu-item{
    padding-bottom: 25px;
    padding-top: 25px;
    }
    
    .mobile_hide{
        @media only screen and (max-width:767px){
            &{
                display: none;
            }
        }
    }

    
    
    
      
      
    
    
    
    
      

    
    #hidden{
        display: none;
    }
    
    @media only screen and (max-width:770){
         #cat_hero_img{
            display: none;
        }
        
    }
    

    
    #form_card {
        margin: 0 auto;
        max-width: 450px;
        display: flex;
        flex-flow: column;
        padding: 20px;
    }
    
    #form_card,
    h3 {
        color: white;
    }
    
    @media only screen and (max-height:900px) and (max-width:759px){
        /* remove relative position with query */
    }
    
    .card_head {
        border-bottom: solid 1px white;
    }
    
    
    input {
        background: #2b2b2b;
        border: white solid 1px;
    }
    
    
    
    
    .form-group{
        text-align: left;
    }