@mixin nav_hover{
    & a{
        text-decoration-style: none;
        transition: all;
        transition-duration: 500ms;
        
        
        &:hover{
            font-weight: 600;
            color: orange;
        }
    }

    & .active{
        border:solid orange;
    }
}

#nav_primary{
    height: 7.5vh;
    background-color: transparent;
    margin-bottom: 2em;
    font-size: 20px;

   @include nav_hover();
}

#nav_secondary{
background-color: black;
font-size: 20px;
@include nav_hover();
}

#nav_catering{
    background-color:#0000004f;
    font-size: 20px;
    @include nav_hover();
}

.nav-link{
    color: white;
    margin: .5em;
    font-weight: 200;
}

.navbar-brand{
    @media only screen and (max-width: $break-s){
        &{
            display: none;
        }
        
    }
}